* {
    font-family: sans-serif;
}
.topbar {
    display: flex;
    align-content: flex-start;
    padding: 25px;
    background-color: coral;
}
#title {
    float: left;
    font-size: 50px;
    font-weight: bold;
}
.title-button {
    width: 300px;
    padding: 15px;
    margin-left: auto;
    border: 0px;
    background-color: coral;
    border-radius: 30px;   
}
.signup {
    width: 50px;
    padding: 15px;
    margin-left: auto;
    border: 0px;
    background-color: coral;
    border-radius: 30px;   
}
.mainpage {
    width: 200px;
    padding: 15px;
    margin-left: auto;
    border: 0px;
    background-color: #41a765;
    color: #ffffff;
    border-radius: 30px;   
}