* {
    font-family: sans-serif;
}
.topbar {
    top: 0;
    position: sticky;
    display: flex;
    align-content: flex-start;
    padding: 15px;
    background-color: coral;
    z-index: 1000;
}
#title {
    float: left;
    font-size: 50px;
    font-weight: bold;
}
.signup {
    width: 300px;
    padding: 10px;
    border: 0px;
    background-color: coral;
    color: black;
    border-radius: 30px;   
}
.box {
    padding-top: 110px;
    background-position-y: 100px;
    position: relative;
    background: white;
    width: 80%;
    max-width: 1200;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 100px;
}
.main-content {
    background-position: top;
    background-image: url("keycaps-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1000px;
}
main {
    margin: 0px auto;
    padding: 20px;
    background-color: skyblue;
}