* {
    font-family: sans-serif;
}
.mainpage {
    width: 200px;
    padding: 15px;
    margin-left: auto;
    border: 0px;
    background-color: #41a765;
    color: #ffffff;
    border-radius: 30px;   
}
.main-content {
    
}